body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

header {
    background-color: rgba(51, 51, 51, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.about-me, .skills, .contact {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.cp p{
	margin-bottom: 10px;
	line-height: 1.5;
}

.about-me h2, p{
	text-align: center;
}

.skills p{
	text-align: left;
}

.skills img {
	display: block;
	margin: auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
}

.skills video {
	margin: 150px;
    width: 30%;
    max-height: 300px;
    border-radius: 20px;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


@media screen and (max-width:600px){
	header, section, footer{
		margin:10px;
	}
}

@media screen and (min-width:600px) and (max-width:900px){
	header, section, footer{
		margin:15px;
	}
}